.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal__opened {
  display: flex;
}

.modal__content {
  background-color: #fff;
  max-width: 420px;
  padding: 24px;
  position: relative;
  width: calc(100% - 32px);
  max-height: calc(100vh - 32px);
  overflow-y: auto;
  box-sizing: border-box;
  border-radius: 10px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  max-width: 496px;
  width: 100%;
}

.modal__close {
  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 32px;
  z-index: 1;
}

.modal__signup-button {
  border: none;
  background: transparent;
  color: #6b6b6b;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  padding: 12px;
}

.modal__forget-password-button {
  border: none;
  background: transparent;
  color: #6b6b6b;
  font-family: Cabinet Grotesk;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  padding: 8px 0;
  text-decoration: underline;
  display: block;
  margin-top: 24px;
}

.modal__forget-password-button:hover {
  opacity: 0.8;
}

.modal__submit {
  width: 124px;
  height: 36px;
  opacity: 1;
  color: #fff;
  background: #0000004d;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.modal__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.modal__close img {
  display: block;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.modal__btns {
  margin-top: 32px;
}
