.empty-cart-modal__title {
  margin: 0;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.empty-cart-modal__message {
  text-align: center;
  margin: 24px 0 0;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-weight: 500;
}

.empty-cart-modal__button {
  margin: 0 auto;
  display: block;
  width: auto;
  min-width: 160px;
  padding: 0 16px;
  height: 36px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: Cabinet Grotesk;
  font-size: 14px;
  font-weight: 700;
}
