@import url(./vendor/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img,
svg,
video {
  max-width: 100%;
}

input,
select,
textarea,
button {
  max-width: 100%;
}
